//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     

doctype
html
  head
    title #{title} - My Site
    script(type='text/javascript',src='components/jquery/dist/jquery.slim.js')
    script(type='text/javascript',src='components/socket.io-client/socket.io.js')
    //
        script(type='text/javascript',src='components/EaselJS/lib/easeljs-0.8.2.min.js')
        script(type='text/javascript',src='components/EaselJS/lib/easeljs-0.8.2.combined.js')
        script(type='text/javascript',src='components/EaselJS/lib/easeljs-NEXT.combined.js')
        script(type='text/javascript',src='components/EaselJS/lib/webgl-NEXT.min.js')
        script(type='text/javascript',src='components/EaselJS/lib/webgl-0.8.2.combined.js')
        script(type='text/javascript',src='components/EaselJS/lib/webgl-0.8.2.min.js')
        script(type='text/javascript',src='components/EaselJS/lib/webgl-NEXT.combined.js')
        script(type='text/javascript',src='components/EaselJS/lib/easeljs-NEXT.min.js')
    script(type='text/javascript',src='js/jquery.hotkeys.js')
    script(type='text/javascript',src='js/key_status.js')
    script(type='text/javascript',src='js/sprite.js')
        
    //
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='components/uikit/css/uikit.min.css')
        script(type='text/javascript',src='components/angular/angular.min.js')
  body
    header
    .container
        block content
    footer
        script(type='text/javascript',src='/js/b_app.js')